# Regular packages
torch==2.6.0
torchvision
torchaudio
numpy
pylidc
opencv-python
tifffile==2025.2.18
h5py

# Custom packages with custom index URL
httpx
blosc2
--extra-index-url https://read_package:gldt-uzw7Px4e1FD5y_X5mEJA@git.dkfz.de/api/v4/projects/1293/packages/pypi/simple
